<div class="sidebar-menu sticky-sidebar-menu">

  <!-- LOGO -->
  <div class="logo">
    <h1><a href="/admin">CountLight Admin</a></h1>
  </div>

  <div class="logo-icon text-center">
    <a href="/admin" title="logo">
      <img src="/static/images/logo_neon.png" alt="logo-icon">
    </a>
  </div>

  <div class="sidebar-menu-inner">

    <ul class="nav nav-pills nav-stacked custom-nav">

      <!-- ADMIN DASHBOARD -->
      <li>
        <a href="/admin">
          <i class="fa fa-tachometer"></i>
          <span>Dashboard Admin</span>
        </a>
      </li>

      <!-- USERS -->
      <li>
        <a href="/admin/users">
          <i class="fa fa-users"></i>
          <span>Utilizadores</span>
        </a>
      </li>

    </ul>

    <!-- TOGGLE BUTTON -->
    <a class="toggle-btn">
      <i class="fa fa-angle-double-left menu-collapsed__left">
        <span>Collapse Sidebar</span>
      </i>
      <i class="fa fa-angle-double-right menu-collapsed__right"></i>
    </a>

  </div>
</div>
